#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
 
  transform: translateY(-50%);
}

.game-board{
  width: 80%;
  height: 800px;
  border: 1px solid #dadada;
}

.pipe{
  position: absolute;
  bottom: 0;
  width: 80px;
  // right: 0;
  // animation: pipe-animation 1.5s infinite linear;
}

@media screen and (max-width: 968px) {
  .game-board {
    width: 100%;
    height:720px;
    border: 3px solid #dadada;
  }
  
}